body {
    background-color: black;
}

.name_title {
    text-align: center;
    color: white;
}

.input_box {
    margin-top: 45px;
}

.input_box input {
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    text-align: right;
    font-size: 20px;
}

.main_container {
    text-align: center;
    margin-top: 100px;
    width: 350px;
    height: 450px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 100px;

}

.container {
    margin-top: 10px;
}

.button {
    padding: 15px 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: chartreuse;
    font-size: 18px;
    border: none;
   
}

.operator {
    padding: 15px 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;

}

.button:hover {
    background-color: orange;
}

@media (max-width: 500px){
    .main_container {
        width: 100%;
    }
    .input_box .input{
        width: 100%;
    }
}